{
  "env": {
    "ENVIRONMENT": "DEVELOPMENT",
    "JWT_KEY": "THE_SECRET",

    "MONGO_USER": "THE_USER",
    "MONGO_PASSWORD": "THE_PASSWORD",
    "MONGO_SERVER": "THE_SERVER",
    "MONGO_PORT": "27017",
    "MONGO_DB": "THE_DATABASE",

    "MONGO_USER_DEV": "THE_USER",
    "MONGO_PASSWORD_DEV": "THE_PASSWORD",
    "MONGO_SERVER_DEV": "THE_SERVER",
    "MONGO_PORT_DEV": "27017",
    "MONGO_DB_DEV": "THE_DATABASE",

    "DEFAULT_PORT": 3000
  }
}