<footer class="grid-container padding-3">
    <div class="grid-x align-center">
        <span class="subheader">Desarrollado por <a href="https://www.iteraciona.com" target="_blank">iteraciona.com</a></span>
    </div>
</footer>