<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Metro en Lima</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/assets/foundation-sites/dist/css/foundation.css" />
    <link rel="stylesheet" href="/assets/foundation-sites/dist/css/foundation-float.css" />
    <link rel="stylesheet" href="/assets/foundation-sites/dist/css/foundation-prototype.css" />
    <link rel="stylesheet" href="/assets/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="/assets/foundation-datepicker/css/foundation-datepicker.css" />
    <link rel="stylesheet" href="/assets/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>