<div class="top-bar show-for-medium-down hide-for-large elevate-navbar" data-sticky data-margin-top="0" data-sticky-container>
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">
                <div class="fi-list margin-right-1" id="hamburguer" data-toggle="offCanvasRightPush">Lima en Metro</div>
            </li>
        </ul>
    </div>
</div>
<div class="off-canvas position-left" id="offCanvasRightPush" data-off-canvas data-transition="push">
    <div class="cell small-12 off-canvas-menu-title text-center">
        Main Menu
    </div>
    <ul class="vertical menu drilldown off-canvas-menu-options" data-drilldown>
        <li class="user-account">
            <a href="#" class="user-account-in-canvas">
                <div class="fi-torsos-male-female"> eric@pragmum.com</div>
            </a>
            <ul class="menu vertical">
                <li><a href="/user/profile">Mi Cuenta</a></li>
                <li class="logout"><a href="/user/logout">Cerrar Sesión</a></li>
            </ul>
        </li>
    </ul>
</div>