<div class="top-bar hide-for-small-only hide-for-medium-only elevate-navbar" data-sticky data-margin-top="0" data-sticky-container>
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><a href="/">Metro en Lima</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="/transactions">Transacciones</a></li>
            <li class="user-account">
                <a href="#" class="user-account-in-canvas">
                    <div class="fi-torsos-male-female"> eric@iteraciona.com</div>
                </a>
                <ul class="menu vertical account">
                    <li><a href="/user/profile">Mi Cuenta</a></li>
                    <li class="logout"><a href="/user/logout">Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<%- include('./nav-offcanvas') %>