<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>

<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12">
            <h1>¡Oh no!, ¡algo salió mal!</h1><br
            <span>Lo siento mucho, no podemos ayudarte con el url que has ingresado...</span>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
</body>
</html>